/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}






























.parent {
    background-color: aqua;
    width: 1100px;
    height: 671px;
    margin: auto;
    display: flex;
    box-shadow: 1px 1px 50px 1px burlywood;
}

.information {
    background-color: rgb(243, 243, 243);
    width: 30%;
}

.chat-page {
    background-image: url(background.jpg);
    background-color: rgba(185, 185, 185, 0.596);
    width: 40%;
    display: grid;
    align-content: space-between;
}

.persons {
    background-color: white;
}

.top {
    background-color: rgb(243, 243, 243);
    height: 50px;
    display: flex;
    justify-content: space-between;
}

.profile-me {
    width: 35px;
    margin: auto 10px;
    border-radius: 50px;
}

.icons-top {
    margin-right: 20px;
    display: flex;
    width: auto;
    height: 50px;
    gap: 20px;
}

.icon-person {
    width: 20px;
    opacity: 0.5;
}

.notif {
    background-color: rgb(89, 213, 255);
    height: 80px;
    display: flex;
}

.notif-texts {
    margin: auto 0;
    margin-left: 5px;
}

.t-text-notif {
    font-family:Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.b-text-notif {
    font-family:Arial, Helvetica, sans-serif;
    font-size: 0.75em;
    margin: auto 0;
}

.img-notif {
    width: 25px;
    background-color: white;
    color: rgb(89, 213, 255);
    padding: 10px;
    border-radius: 50px;
    margin: auto 10px;
}

.search-bar {
    background-color: rgb(235, 235, 235);
    height: 25px;
    border-radius: 50px;
    margin: 5px 10px;
    display: flex;
    justify-content: space-between;
}

.icon-search {
    width: 20px;
    opacity: 0.5;
    margin-left: 5px;
}

.search-input {
    background-color: rgba(240, 248, 255, 0);
    border: 0;
    width: 300px;
}

.search-input:focus-visible {
    outline: none;
}

.person {
    height: 60px;
    display: flex;
    border-bottom: 0.5px solid rgb(243, 243, 243);
}

.person:hover,
.person:active {
    background-color: rgb(224, 224, 224);
}

.img-person {
    width: 45px;
    margin: auto 10px;
    border-radius: 50px;
}

.person-info {
    width: 300px;
    margin: auto;
    margin-right: 10px;
    display: flex;
    justify-content: space-between;
}

.name-person {
    font-family:Arial, Helvetica, sans-serif;
}

.message-person {
    color: gray;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 0.75em;
    margin: auto 0;
}

.see-image {
    width: 20px;
    mix-blend-mode: darken;
}

.top-text {
    font-weight: bold;
    font-family:Arial, Helvetica, sans-serif;
    margin: auto;
}

.send-message {
    background-color: rgb(243, 243, 243);
    height: 50px;
    display: flex;
}

.information-1 {
    background-color: white;
    display: grid;
    padding: 15px 0;
}

.information-2 {
    background-color: white;
    padding: 10px 0;
    padding-left: 30px;
}

.information-3 {
    background-color: white;
    padding: 10px 0;
    padding-left: 30px;
}

.information-4,
.information-5,
.information-6 {
    background-color: white;
    padding: 10px 0;
    padding-left: 30px;
}

.information-7 {
    background-color: white;
    display: grid;
    align-content: center;
    height: 50px;
    padding-left: 30px;

}

.big-profile {
    width: 150px;
    border-radius: 100px;
    margin: auto;
}

.big-name {
    font-size: 1.5em;
    font-weight: bold;
    text-align: center;
    margin-top: 10px;
}

.phone-number {
    font-size: 0.75em;
    opacity: 0.75;
    text-align: center;
}

.littel-text-information {
    font-size: 0.75em;
    opacity: 0.75;
    font-family:Arial, Helvetica, sans-serif;
}

.normal-text-information {
    font-family:Arial, Helvetica, sans-serif;
    font-size: 0.9em;
}

.mb-10 {
    margin-bottom: 10px;
}

.img-information-3 {
    width: 80px;
    border: 0.1px rgba(0, 41, 0, 0.151) solid;
}

.icon-send-message {
    width: 20px;
    margin: auto 10px;
    opacity: 0.5;
}

.input-send-message {
    background-color: white;
    height: 70%;
    width: 75%;
    margin: auto;
    border: 0;
    border-radius: 100px;
}